* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: Calibri, Helvetica, sans-serif;
}

.desktop {
  display: block
}

.mobile {
  display: none
}

a {
  color: black;
  text-decoration: none;
}

div#header p{
  font-size: 0.5em;
}

li {
  list-style: none;
}

div#header {
  min-height: 110px;
  height: 50px;
  padding: 0 20px;
}

div#content {
  margin:20px;
}

h1.sectiontitle {
  float: left
}

ul.nav {
  float: right;
}

ul.nav, li.navitem {
  height: inherit;
  min-height: inherit;
}

li.navitem {
  float: left;
  width: auto;
}

li.navitem:hover {
  background: #FDC;
}

ul.nav > li.navitem > a {
  display: block;
  padding: 42px 18px;
}

a.myname {
  text-align: right
}

div.maintitle span.en {
  font-size: 1em;
}



div.subtitle span.jap {
  font-size: 0.5em;
}

span.myfirstname {
  font-weight: 400
}

span.mylastname {
  font-weight: 900
}
