/* @sonnyksimon "Sonny Kothapally <me@sonnyksimon.com>" */
::selection {
  background: #FDC;
}

::-moz-selection {
  background:#FDC;
}

html {scroll-behavior:smooth}

#content ul>li {font-family:monospace;}

#content>div {    padding: 1rem; margin-bottom: 1rem;   }

.anime {background-color: #fcc;}
.kdrama {background-color: #cff;}
.chinese-tvshows {background-color: #ccf;}

#content>div>ul>li:before{content:"-"}
